<h3>会社情報編集画面</h3>

 <%= form_with model: @admin, local: true do |f| %>
  <div class= "row form-group pt-3">
    <div class= "col-3"><%= f.label :会社名 %></div>
    <div class= "col-md-3"><%= f.text_field :name, autofocus: true, class:"form-control" %></div>
  </div>

  <div class= "row form-group">
    <div class= "col-3"><%= f.label :郵便番号 %></div>
    <div class= "col-md-3"><%= f.text_field :postal_code, class:"form-control" %></div>
  </div>

  <div class= "row form-group">
    <div class= "col-3"><%= f.label :会社住所 %></div>
    <div class= "col-md-3"><%= f.text_field :address, class:"form-control" %></div>
  </div>

  <div class= "row form-group">
    <div class= "col-3"><%= f.label :電話番号 %></div>
    <div class= "col-md-3"><%= f.text_field :phone_number, class:"form-control" %></div>
  </div>

  <div class= "row form-group">
    <div class= "col-3"><%= f.label :メールアドレス %></div>
    <div class= "col-md-3"><%= f.text_field :email, class:"form-control" %></div>
  </div>

  <div class= "row form-group offset-3 pt-3">
    <%= f.submit "編集内容を保存", class:"btn btn-dark", style:"width:200px" %>
  </div>

  <% end %>